@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color-scheme: light;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}